@model NSE.WebApp.MVC.Models.ErrorViewModel

@{
    ViewData["Title"] = "Ocorreu um erro";
}

@if(Model == null)
{
    <div>
        <h2>Oooops! Ocorreu um erro, mas fique tranquilo nossa equipe sera avisada e iremos corrigir em breve!</h2>
    </div>
}
else
{
    ViewData["Title"] = Model.Titulo;

    <div>
        <h2>@Html.Raw(Model.Mensagem)</h2>
    </div>
}